# Скопируйте в .env и заполните (docker compose подхватывает .env автоматически).
# Для Jenkins: тот же текст сохраните как credential «Secret file», ID см. Jenkinsfile (ENV_CREDENTIAL_ID).
TELEGRAM_BOT_TOKEN=7019498017:AAFZzRvvja14YAe1Mb2vvisjqxxJhKgjC-0
TELEGRAM_BOT_USERNAME=task-manager-bot
SUPERADMIN_TELEGRAM_ID=423515667
SUPERADMIN_USERNAME=admin
SUPERADMIN_FIRST_NAME=admin
SUPERADMIN_LAST_NAME=admin
SUPERADMIN_PASSWORD=admin
