<configuration>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка для конкретного пакета -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="reactor.netty" level="ERROR"/>
    <logger name="ru.spbstu" level="INFO"/>
</configuration>