#!/bin/sh

export VAULT_TOKEN="{{ vault_dev_root_token_id }}"

echo "Vault is ready. Initializing and loading secrets..."

vault secrets enable -version=2 -path=secret kv || true

vault kv put secret/task-manager-bot \
  mongo.host="{{ mongo_host }}" \
  mongo.port="{{ mongo_port }}" \
  mongo.database="{{ mongo_database }}" \
  mongo.username="{{ mongo_username }}" \
  mongo.password="{{ mongo_password }}" \
  telegram.bot.token="{{ telegram_bot_token }}" \
  telegram.bot.username="{{ telegram_bot_username }}" \
  superadmin.telegramId="{{ superadmin_telegram_id }}" \
  superadmin.username="{{ superadmin_username }}" \
  superadmin.firstName="{{ superadmin_first_name }}" \
  superadmin.lastName="{{ superadmin_last_name }}" \
  superadmin.password="{{ superadmin_password }}"

echo "Secrets loaded successfully!"

